body{
    background-image: linear-gradient(90deg, #e73c7e,#23a6d5);
    font-family: 'Sora', sans-serif;
}

.header{
    text-align: center;
    font-size: 50px;
    background: -webkit-linear-gradient(0deg,rgb(253, 253, 251),rgb(252, 136, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-top: 5%;
}

.gen{
    font-family: 'Sora', sans-serif;
    padding: 1%;
    font-size: 20px;
    border-radius: 1em;
    color: white;
    border: 1px solid black;
    margin-left: 1%;
}

.c1{
    background-color: blue;
}

.c2{
    background-color: lightcoral;
}

::placeholder{
    color: white;
}

.sec1{
    margin-left: 35%;
}

.sec2{
    color: white;
    margin-left: 15%;
    font-weight: bold;
    font-size: 20px;
}

.sec3-1{
    width: 50vm;
    height: 50vh;
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

